<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <title>AnyAnime</title>

    {{!-- Jquery CDN --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    {{!-- Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">

    {{!-- Fontawesome icons --}}
    <script src="https://kit.fontawesome.com/a4e8b7b3a4.js" crossorigin="anonymous"></script>


</head>
<body>



    <header class="header-home">

        <nav class="navbar" id="navbar">

            <div class="container navbar-container">
                <div class="navbar-left">
                    <button class="btn btn-icon" id="btn-toggle-nav">
                        <i class="fa-solid fa-bars"></i>
                    </button>

                    <p class="bold logo">Any<span>Anime</span></p>
                </div>

                <div class="navbar-center">
                    {{!-- * Where the search bar will go --}}
                    {{!-- * On mobile, this will appear on the left. --}}


                    <form action="/search/anime" method="GET" class="searchbar-container">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                        <input type="text" id="searchBar"
                            placeholder="Search Anime" name="search">
                        <button type="submit" style="display: none;"></button>
                    </form>

                </div>

                <div class="navbar-right">
                        
                        <ul class="nav-links">
                            <li class="nav-link">
                                <a href="">Home</a>
                            </li>
                            <li class="nav-link">
                                <a href="">Anime</a>
                            </li>
                            <li class="nav-link">
                                <a href="">Manga</a>
                            </li>
                            <li class="nav-link">
                                <a href="">Characters</a>
                            </li>
                        </ul>

                </div>
            </div>

            <div id="nav-menu">

                <div class="container">
                    <ul id="nav-menu-links">
                        <li class="bold nav-menu-link"> 
                            <a href="http://localhost:3001">Home</a>
                            <div class="line"></div>
                        </li>
                        <li class="bold nav-menu-link">
                            <div class="nav-menu-link-inner">
                                <a href="">Anime</a>
                                <div class="line"></div>
                            </div>
                        </li>
                        <li class="bold nav-menu-link">
                            <a href="">Manga</a>
                            <div class="line"></div>
                        </li>
                        <li class="bold nav-menu-link">
                            <a href="">Characters</a>
                            <div class="line"></div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        
        <div class="container header-content">

            <h1 class="display">Welcome to AnyAnime</h1>

            <p>
                Find your favorite anime, characters, and more through
                the AniList database
            </p>

        </div>


    </header>

    {{!-- TODO: Add the new grid / aspect ratio settings to the cards. --}}

    {{!-- <section class="section-list"> --}}
    <section>

        <div class="container">

            <h3 class="section-title"> Current Season {{sectionTitle}} </h3>
            
            <div class="grid-cards grid-cards-home">

                {{#if queryData.seasonFilter}}
                    
                    {{#each queryData.seasonFilter}}

                        <a class="card-link" href="http://localhost:3001/anime/{{this.id}}">
                            <div class="card grid-card" data-anime-id="{{this.id}}">
                                
                                
                                <div class="card-img-container">
                                    <img src="{{this.coverImage.large}}" alt="cover-image" class="card-img">
                                </div>
                                
                                <div class="card-title-container">
                                    {{!-- TODO: If the title doesn't include english, display romaji --}}
                                    {{#if this.title.english}}
                                        <p class="bold light-text caption">{{this.title.english}}</p>
                                        {{else}}
                                        <p class="bold light-text caption">{{this.title.romaji}}</p>
                                    {{/if}}
                                </div>
                            </div>
                        </a>
                    
                        
                    {{/each}}

                {{/if}}

            

            </div>


        </div>

    </section>


    <section class="section-spotlight">

        
        <div class="container spotlight-container">

            <h2 class="spotlight-header">Top 10 Most Popular</h2>

            <div class="carousel flex">

                <div class="carousel-left">
                    <button class="btn btn-icon" id="btn-carousel-left">
                        <i class="fa-solid fa-angles-left"></i>
                    </button>
                </div>

                {{!-- TODO: Dynamically insert content into the carousel --}}

                <div class="carousel-content flex">
                    {{!-- ? this is where each card will go.
                          TODO: Apply flex to this container and Overflow-x --}}

                    {{#if queryData.popularityFilter}}
                        
                        {{#each queryData.popularityFilter}}

                            <a href="http://localhost:3001/anime/{{this.id}}" class="card-link card-spotlight" data-anime-id="{{this.id}}">
                            
                                <div class="card ">
                                    <div class="card-img-container">
                                        <img src="{{this.coverImage.extraLarge}}" alt="cover-image" class="card-img">
                                    </div>

                                    <div class="card-title-container">
                                        {{!-- TODO: If the title doesn't include english, display romaji --}}
                                        {{#if this.title.english}}
                                            <p class="bold light-text caption">{{this.title.english}}</p>
                                            {{else}}
                                            <p class="bold light-text caption">{{this.title.romaji}}</p>
                                        {{/if}}
                                        <p class="rating-text bold">{{this.averageScore}}% Average Rating</p>
                                    </div>
                                    
                                </div>

                            </a>

                        {{/each}}

                        {{else}}
                        <p class="bold">None were found!</p>


                    {{/if}}

                </div>


                <div class="carousel-right">
                    <button class="btn btn-icon" id="btn-carousel-right">
                        <i class="fa-solid fa-angles-right"></i>
                    </button>
                </div>
            </div>

        </div>


    </section>


    <section class="section-spotlight">

        
        <div class="container spotlight-container">

            <h2 class="spotlight-header">Top 10 Most Popular</h2>

            <div class="carousel flex">

                <div class="carousel-left">
                    <button class="btn btn-icon" id="btn-carousel-left">
                        <i class="fa-solid fa-angles-left"></i>
                    </button>
                </div>

                {{!-- TODO: Dynamically insert content into the carousel --}}

                <div class="carousel-content flex">
                    {{!-- ? this is where each card will go.
                          TODO: Apply flex to this container and Overflow-x --}}

                    {{#if queryData.popularityFilter}}
                        
                        {{#each queryData.popularityFilter}}
                            
                            <div class="card card-spotlight" data-anime-id="{{this.id}}">

                                <div class="card-image-spotlight-container">
                                    <img src={{this.coverImage.large}} class="card-image card-img card-image-spotlight" alt="">
                                </div>

                                <div class="card-details-spotlight-container">
                                    
                                    <div class="details-spotlight details-spotlight-mobile">
                                        {{!-- ? This element will appear for mobile screens. --}}
                                        <p class="title bold">{{this.title.english}}</p>
                                        <p class="rating-text bold">{{this.averageScore}}% Average Rating</p>
                                    </div>

                                    <div class="details-spotlight details-spotlight-desktop">
                                        {{!-- TODO: Add content for larger screen sizes. --}}

                                    </div>


                                </div>
                            </div>

                        {{/each}}

                        {{else}}
                        <p class="bold">None were found!</p>


                    {{/if}}

                </div>


                <div class="carousel-right">
                    <button class="btn btn-icon" id="btn-carousel-right">
                        <i class="fa-solid fa-angles-right"></i>
                    </button>
                </div>
            </div>

        </div>


    </section>

    <section class="section-list">

        <div class="container">

            <h3 class="list-title"> Trending Anime {{sectionTitle}} </h3>
            
            <div class="grid-cards grid-cards-home">

                {{#if queryData.trendingFilter}}
                    
                    {{#each queryData.trendingFilter}}
                        
                        <a class="card-link" href="http://localhost:3001/anime/{{this.id}}">
                            <div class="card grid-card" data-anime-id="{{this.id}}">
                                
                                
                                <div class="card-img-container">
                                    <img src="{{this.coverImage.large}}" alt="cover-image" class="card-img">
                                </div>
                                
                                <div class="card-title-container">
                                    {{!-- TODO: If the title doesn't include english, display romaji --}}
                                    {{#if this.title.english}}
                                        <p class="bold light-text caption">{{this.title.english}}</p>
                                        {{else}}
                                        <p class="bold light-text caption">{{this.title.romaji}}</p>
                                    {{/if}}
                                </div>
                            </div>
                        </a>
                        
                    {{/each}}

                {{/if}}

            </div>

    </section>

    <section class="section-genre">

        <div class="container">
            <h3 class="section-title genre-section-title">Genre Tags</h3>

            <div class="genre-tags-container">

                <div class="flex-column">
                    
                    <button class="btn btn-secondary btn-genre">Action</button>
                    <button class="btn btn-secondary btn-genre">Action</button>
                    <button class="btn btn-secondary btn-genre">Action</button>
                    <button class="btn btn-secondary btn-genre">Action</button>
                    <button class="btn btn-secondary btn-genre">Action</button>
                    <button class="btn btn-secondary btn-genre">Action</button>
                    <button class="btn btn-secondary btn-genre">Action</button>

                </div>

                <div class="flex-column">
                    <button class="btn btn-secondary btn-genre">Action</button>
                    <button class="btn btn-secondary btn-genre">Action</button>
                    <button class="btn btn-secondary btn-genre">Action</button>
                    <button class="btn btn-secondary btn-genre">Action</button>
                    <button class="btn btn-secondary btn-genre">Action</button>
                    <button class="btn btn-secondary btn-genre">Action</button>
                    <button class="btn btn-secondary btn-genre">Action</button>
                </div>


            </div>
        </div>

    </section>


<script>

$(document).ready( () => {

    $(window).scroll( (event) => {
        if($(window).scrollTop()) {
            // If the scroll position is NOT at the top.

            $('#navbar').addClass('navbar-bg');
        
            // Give the navbar a fixed position. when scrolling the rest of the page.
            const headerHeight = ($('header').height() - 60)
            //console.log(headerHeight)

            if ($(window).scrollTop() >= headerHeight) {
                $('#navbar').addClass('navbar-fixed')
                $('header').addClass('border-top')

                // console.log('END OF HEADER REACHED')
            }
            else {
                $('#navbar').removeClass('navbar-fixed')
                $('header').removeClass('border-top')
            }

        } else {
            
            //If the scroll position of the window is at the top.
            if(!($('#nav-menu').hasClass('nav-menu-open'))) {
                $('#navbar').removeClass('navbar-bg')
            }
            console.log('Back at the top')
        }
    })

    $('#btn-toggle-nav').click( (event) => {
        toggleNav(event)
    })

    $('#nav-menu').mouseenter(() => {
        console.log('Nav menu Hovered')
    })

    function toggleNav(event) {

        if ($('#nav-menu').hasClass('nav-menu-open')) {

            console.log('Menu has it. Removing it...')
            //$('#nav-menu').css('height', 'auto')
            $('#nav-menu').removeClass('nav-menu-open')

            $('#nav-menu').css({'opacity': 0,
                                'pointer-events': 'none'})

            if(!($(window).scrollTop())) {
                $('#navbar').removeClass('navbar-bg')
            }

            // TODO: Turn the button into an x. 

        } else {

            console.log('Menu does not have it, adding it.')
            $('#nav-menu').addClass('nav-menu-open')

            $('#nav-menu').css({'opacity': 1,
                                'pointer-events': 'auto'});


            $('#navbar').addClass('navbar-bg')
            
        }

    }

    function closeNav() {
        $('#nav-menu').css('height', 0)
    }

    // Carousel
    function nextSlide() {
        
    }

})


</script>

</body>



</html>