<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}

    <script>
        document.onreadystatechange = function () {
            if (document.readyState != 'complete') {
                $('.loading-screen').show()
                console.log('loading...')

            } else if (document.readyState == 'complete') {
                $('.loading-screen').fadeOut()
                console.log('Fully loaded!')
            }
        }
    </script>
</head>
<body>

    {{> loading_screen}}

    <header class="header-search">
        {{> navbar_other}}
    </header>

    <div class="container results-wrapper">


        <div class="results-header">
            <h3>Search Results</h3>


            <div class="search-filters">



            </div>

            <hr>
        </div>

        <div class="search-cards-container">

            {{#if queryData.results}}

            {{#each queryData.results}}
                
                <!--<a href="http://localhost:3001/anime/{{this.id}}">
                    <div class="card page-card" data-media-id="{{this.id}}">
                        
                        <div class="page-card-image-container">
                            <img class="card-image" src="{{this.coverImage.extraLarge}}" alt="content-image">
                        </div>
                        

                        <p class="subtext bold page-card-name">
                            {{#if this.title.userPreferred}}
                                {{this.title.userPreferred}}
                            {{/if}}
                        </p>
                    </div>
                </a> -->

                <a class="card-link" href="anime/{{this.id}}">
                    <div class="card search-card">

                        <div class="search-card-image-container">
                            <img src="{{this.coverImage.extraLarge}}" class="card-img" alt="">
                        </div>

                        <p class="subtext bold">

                            {{#if this.title.english}}
                                {{this.title.english}}

                                {{else}}

                                {{#if this.title.userPreferred}}
                                    {{this.title.userPreferred}}
                                 
                                    {{else}}
                                    {{this.title.romaji}}
                                {{/if}}


                            {{/if}}
                        </p>

                    </div>
                </a>

            {{/each}}

            {{else}}

            <div style="position: absolute; text-align: center; width: 100%;">
                <h3 style="color: var(--lighter-text)">No results</h3>
            </div>
            {{/if}}

        </div>


    </div>

    {{> footer}}

<script>
$(document).ready( () => {


    $('#btn-toggle-nav').click( (event) => {
            toggleNav(event)
    })

    function toggleNav(event) {

        if ($('#nav-menu').hasClass('nav-menu-open')) {

            console.log('Menu has it. Removing it...')
            //$('#nav-menu').css('height', 'auto')
            $('#nav-menu').removeClass('nav-menu-open')

            $('#nav-menu').css({'opacity': 0,
                                'pointer-events': 'none'})

            if(!($(window).scrollTop())) {
                $('#navbar').removeClass('navbar-bg')
            }


        } else {

            $('#nav-menu').addClass('nav-menu-open')

            $('#nav-menu').css({'opacity': 1,
                                'pointer-events': 'auto'});


            $('#navbar').addClass('navbar-bg')
            
        }

    }

    function closeNav() {
        $('#nav-menu').css('height', 0)
    }
})
</script>
</body>
</html>